.ads__page {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    padding: 1.5rem;
    background-color: whitesmoke;
}

.ad__container {
    margin: auto;
    width: 300px;
    min-height: 500px;
    margin-top: 10px;
    border: 2px rgba(17, 14, 14, 0) solid;
    border-radius: 20px;
    padding-bottom: 10px;
}

.ad__link{
    text-decoration: none;
    color: rgb(17, 14, 14);
}

